* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



/* Css Untuk Header dan navigasi */
header {
    display: flex;
    align-items: center;
    background-color: #090722;
    width: 100%;
    justify-content: flex-end;
    padding: 20px 2%;
    position: fixed;

    z-index: 2;

}

header .logo {
    height: 50px;
    right: auto;
    margin-right: auto;
}

header h1 {
    color: white;
    font-size: 30px;
    cursor: pointer;
    margin-right: auto;
    font-family: 'Karla', sans-serif;
}


.nav-list {
    list-style: none;


}

.nav-list li {
    display: inline-block;
    padding-left: 50px;

}

.nav-list li a {
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    color: white;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

li a .active,
li a:hover {
    border: 1px solid white;
    transition: .5s;
}

/* ------------------------------------------------------------------- */

/* css bagian konten utama (Home) */
section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px 100px;

}

section .bg {
    margin-top: 100px;
    max-width: 700px;
    float: left;
}

#home .container h1 {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 50px;
    color: #d63031;
}

#home {
    height: auto;
    position: relative;
    top: 50px;
    margin-bottom: 250px;


}

span {
    line-height: 50px;
    color: white;
    text-transform: uppercase;
    background-color: #2f3542;
    padding: 7px 10px;
    border-radius: 5px;
    cursor: pointer;

}

#home .container h1,
p {
    font-family: 'Play', sans-serif;
    color: #57606f;
}

span:hover {
    background-color: black;
}

/* animasi pada kontent utama */
.container .ml15 {
    font-weight: 800;
    font-size: 3.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.container .ml15 .word {
    display: inline-block;
    line-height: 1em;
}

/* ----------------------------- ----------------------------------------------------*/

/* Css pada konten tambahan(Page project) */

#project {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #353b48;
    text-align: center;
    min-height: 100vh;


}

#project .title {
    font-family: 'Play', sans-serif;
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
}

.project {
    float: left;
    width: 25%;
}

.icon-project {
    position: relative;
}

.icon-project p {
    margin-top: 30px;
    color: white;
}


.icon-project img {
    width: 300px;
}

.txt {
    width: 80%;
    display: inline-block;
    margin-top: 5px;
    font-size: 15px;
    color: #b3aeb5;
}


/* ---------------------------------------------------------------------- */

/* Css pd kontent tambahan (Page tentang kami) */

#about {

    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    text-align: center;
    height: 80vh;


}

#about .title {
    font-family: 'Play', sans-serif;
    padding-top: 100px;
    padding-bottom: 100px;
    color: black;
}

.about {
    float: left;
    width: 20%;
}

.icon-about {
    position: relative;
}

.icon-about p {
    margin-top: 50px;
    color: black;
}


.icon-about img {
    width: 250px;
}

.about .txt {
    padding-bottom: 40px;
}



/* ----------------------------------------------------------- */

/* -------------------------------------------------------------- */
/* AwalFooter */
footer {
    display: flex;
    align-items: center;
    background-color: #222831;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px 2%;
}



.imgfooter {

    width: 30px;
    height: auto;

}

.imgfoot {
    top: 100px;
    width: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


footer .list-footer {

    display: flex;
    align-items: center;

    justify-content: space-between;

    padding: 20px 2%;


}

.list-footer ul {
    list-style: none;
}

.list-footer li {
    display: inline-block;
    padding: 0 20px;
    cursor: pointer;
}




.clear {
    clear: left;
}

/* Akhir Footer */
